<h1>Información</h1>
<br>
<ul>
    <li>Carpeta del proyecto: {{carpetaProyecto}}</li>
    <li>Id del proceso: {{idProceso}}</li>
    <li>Versión de Node.js: {{versionNode}}</li>
    <li>Titulo del proceso: {{tituloProceso}}</li>
    <li>Sistema operativo: {{sistemaOperativo}}</li>
    <li>Directorio de ejecución: {{directorioEjecucion}}</li>
    <li>Memoria total reservada (rss): {{rss}}</li>
    <li>Número de procesadores: {{numProcesadores}}</li>
</ul> 